@import "tailwindcss";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@theme {
    --font-headline: "Plus Jakarta Sans", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Inter", sans-serif;

    --color-on-surface: #1a1c1c;
    --color-surface-container-lowest: #ffffff;
    --color-on-tertiary-container: #f8f6f6;
    --color-surface-container: #eeeeee;
    --color-inverse-surface: #2f3131;
    --color-background: #f9f9f9;
    --color-primary: #1a4fc7;
}